<form ng-submit="register()">
	<div>
		<md-input-container class="RegisterForm-inputContainer">
			<label>Nombre</label>
			<input type="text" ng-model="nombre">
		</md-input-container>
	</div>
	<div>
		<md-input-container class="RegisterForm-inputContainer">
			<label>Usuario</label>
			<input type="text" ng-model="username">
		</md-input-container>
	</div>
	<div>
		<md-input-container class="RegisterForm-inputContainer">
			<label>Correo</label>
			<input type="email" ng-model="email">
		</md-input-container>
	</div>

	<div>
		<md-input-container class="RegisterForm-inputContainer">
			<label>Contraseña</label>
			<input type="password" ng-model="password">
		</md-input-container>
	</div>

	<md-button type="submit" class="RegisterForm-submit md-primary md-raised">Registrar</md-button>
</form>
